.button {
  background-color:#e5eff8;
  color: black;
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration:none;
  font-family: 'Open Sans';
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: 700;
  padding: 8px 33px;
}
.button:hover {
  background-color: rgb(114, 185, 187)
}
.button:active {
  background-color: #38b6ff;
}

