
{% load static %}



<link rel="stylesheet" href="{% static 'bienvenida.css' %}">

<section width="100%" height="100%">
  
   
    <table width= "100%" style= "text-align:center;">
        <br><br> <tr> <td width="100%"> <h3 class="titulo">¡HOLA!</h3></td></tr>
        <tr> <td width="100%"> <h3 class="titulo">&nbsp;¡BIENVENIDO {{request.user.username}}!&nbsp;</h3></td></tr>
    
        <tr> <td width="100%">	<div style="text-align: center">
			<img src="{% static "Perfil_3VTzYjr.png" %}" width="250px" height="250px">
        </div></td></tr>
    </table>
        
    <table width= "100%" style= "text-align:center;">
        <br> <tr>
              <td width="50%"><a href="/programacion-de-cirugia/" class="buttones" style="font-size:20px;">PROGRAMACIÓN DE CIRUGÍA</a></td>
              <td width="50%"> <a href="" class="buttones" style="font-size:20px;">CREACIÓN DE PAQUETES</a></td>
            </tr><br>
    <table width= "100%" style= "text-align:center;" >
        <br> <tr>
            <td width="100%"> <a href="{% url 'logout' %}" class="buttones" style="font-size:20px;"> cerrar sesion</a></td>
          </tr><br>
        </table>
       
    </section>
    
    
    
    
    
   