
{% load static %}



<link rel="stylesheet" href="{% static 'bienvenida.css' %}">

<section width="100%" height="100%">
  
   
    <table width= "100%" style= "text-align:center;">
       <br> <tr> <td width="100%"> <h3 class="titulo">¡HOLA!</h3></td></tr>
        <tr> <td width="100%"> <h3 class="titulo">¡BIENVENIDO {{request.user.username}}!</h3></td></tr>
    
        <tr> <td width="100%">	
			<img src="{% static "Perfil_3VTzYjr.png" %}" width="200px" height="200px">
        </td></tr>
    </table>
        
    <table width= "100%" style= "text-align:center;">
            <tr>
                <td width="33.3%" height="80px">
                    <div class="dropdown">
                    <a href="/programacion-de-cirugia/" ><button class="buttones" style="font-size:20px;">PROGRAMACIÓN DE CIRUGÍA</button></a>
                        <div class="dropdown-content">
                            <a href="/programacion-de-cirugia/">Programación De Cirugía</a>
                            <a href="/datos-de-programacion/">Datos De Programación</a>
                            <a href="/creacion-de-paquetes/">Creación De Paquetes</a>
                        </div>
                    </div>
                </td>

                <td width="33.3%" height="80px">
                    <div class="dropdown">
                    <a href="/programacion-de-cirugia/" ><button class="buttones" style="font-size:20px;">LAVADO</button></a>
                        <div class="dropdown-content">
                            <a href="/programacion-de-cirugia/">Programación De Cirugía</a>
                            <a href="/datos-de-programacion/">Datos De Programación</a>
                            <a href="/creacion-de-paquetes/">Creación De Paquetes</a>
                        </div>
                    </div>
                </td>

                <td width="33.3%" height="80px">
                    <div class="dropdown">
                    <a href="/programacion-de-cirugia/" ><button class="buttones" style="font-size:20px;">PROGRAMACIÓN DE CIRUGÍA</button></a>
                        <div class="dropdown-content">
                            <a href="/programacion-de-cirugia/">Programación De Cirugía</a>
                            <a href="/datos-de-programacion/">Datos De Programación</a>
                            <a href="/creacion-de-paquetes/">Creación De Paquetes</a>
                        </div>
                    </div>
                </td>
            </tr>

                        <tr>
                <td width="33.3%" height="80px">
                    <div class="dropdown">
                    <a href="/programacion-de-cirugia/" ><button class="buttones" style="font-size:20px;">PROGRAMACIÓN DE CIRUGÍA</button></a>
                        <div class="dropdown-content">
                            <a href="/programacion-de-cirugia/">Programación De Cirugía</a>
                            <a href="/datos-de-programacion/">Datos De Programación</a>
                            <a href="/creacion-de-paquetes/">Creación De Paquetes</a>
                        </div>
                    </div>
                </td>

                <td width="33.3%" height="80px">
                    <div class="dropdown">
                    <a href="/programacion-de-cirugia/" ><button class="buttones" style="font-size:20px;">PROGRAMACIÓN DE CIRUGÍA</button></a>
                        <div class="dropdown-content">
                            <a href="/programacion-de-cirugia/">Programación De Cirugía</a>
                            <a href="/datos-de-programacion/">Datos De Programación</a>
                            <a href="/creacion-de-paquetes/">Creación De Paquetes</a>
                        </div>
                    </div>
                </td>

                <td width="33.3%" height="80px">
                    <div class="dropdown">
                    <a href="/programacion-de-cirugia/" ><button class="buttones" style="font-size:20px;">PROGRAMACIÓN DE CIRUGÍA</button></a>
                        <div class="dropdown-content">
                            <a href="/programacion-de-cirugia/">Programación De Cirugía</a>
                            <a href="/datos-de-programacion/">Datos De Programación</a>
                            <a href="/creacion-de-paquetes/">Creación De Paquetes</a>
                        </div>
                    </div>
                </td>
            </tr>


            <tr>
                <td width="33.3%" height="80px">
                    <div class="dropdown">
                    <a href="/programacion-de-cirugia/" ><button class="buttones" style="font-size:20px;">PROGRAMACIÓN DE CIRUGÍA</button></a>
                        <div class="dropdown-content">
                            <a href="/programacion-de-cirugia/">Programación De Cirugía</a>
                            <a href="/datos-de-programacion/">Datos De Programación</a>
                            <a href="/creacion-de-paquetes/">Creación De Paquetes</a>
                        </div>
                    </div>
                </td>

                <td width="33.3%" height="80px">
                    <div class="dropdown">
                    <a href="/programacion-de-cirugia/" ><button class="buttones" style="font-size:20px;">PROGRAMACIÓN DE CIRUGÍA</button></a>
                        <div class="dropdown-content">
                            <a href="/programacion-de-cirugia/">Programación De Cirugía</a>
                            <a href="/datos-de-programacion/">Datos De Programación</a>
                            <a href="/creacion-de-paquetes/">Creación De Paquetes</a>
                        </div>
                    </div>
                </td>

                <td width="33.3%" height="80px">
                    <div class="dropdown">
                    <a href="/programacion-de-cirugia/" ><button class="buttones" style="font-size:20px;">PROGRAMACIÓN DE CIRUGÍA</button></a>
                        <div class="dropdown-content">
                            <a href="/programacion-de-cirugia/">Programación De Cirugía</a>
                            <a href="/datos-de-programacion/">Datos De Programación</a>
                            <a href="/creacion-de-paquetes/">Creación De Paquetes</a>
                        </div>
                    </div>
                </td>
            </tr>
            
        </table>
        <br>  <br>  <br>  <br><br><br>
    </section>
    
    
    
    
    
   