{% load static %}


<link rel="stylesheet" href="{% static 'home..css' %}">

<table width="100%" height="100%" style=" background-color: rgba(2,25,75,255)">
    <link rel="stylesheet" href="../home/home.component.css">
        
    <tr width="100%">
        <td width = "350px" height="50px" ><div style="text-align:left; "><img src="{% static "Smartest.png" %}"  height="170px" width="250px"> </div></td>   
        <td> </td>
    
    </tr>
    
    <tr width="100%">
        <td width="50%" >
                
            <form class="custom-form" action="" method="POST" style="text-align:center">{% csrf_token %}
                  <h1>Iniciar</h1>
              
                  <input type="text" id="login"  name="nombre" placeholder="nombre"/>
                  <input input type="password" id="login"  name="password" placeholder="password"/>
                  <button class="button" id="capture-btn">Entrar</button>
                  <br><a href="/reconocimiento-facial/" > <p style="text-decoration:underline; color: #0bb174;">reconocimiento facial</p></a>
                  
                </form>
    
            </td>
    
        
            <td width="100%"><div style="text-align: left; "><img src="{% static "tracy.png" %}"  height="300px" width="500px"> </div></td>
        </tr>
    
       <tr width="100%" height="20px">
            <td> <p style=" color:#ffffff; font-size: xx-large; margin-inline-start:10%; ">Powered by Smartest</p></td>
           
            <td></td>
        </tr>
    </table>